Xml/countryalcohol_isvalid.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="Country">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element type="xsd:string" name="Country"/>
                    <xsd:element type="xsd:float" name="beer_servings" default="0.0"/>
                    <xsd:element type="xsd:float" name="spirit_servings" default="0.0"/>
                    <xsd:element type="xsd:float" name="wine_servings" default="0.0"/>
                    <xsd:element type="xsd:float" name="total_liters_of_alcohol" default="0.0"/>
                </xsd:sequence>
            </xsd:complexType>
    </xsd:element>
</xsd:schema>