Xml/Country_Happyness.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Coutry_Happyness">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Country" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="Name"/>
                            <xs:element type="xs:integer" name="Happyness_Rank" default="0"/>
							<xs:element name="Happyness_Score" default="0.0">
								<xs:simpleType>
									<xs:restriction base="xs:float">
										<xs:minInclusive value="0.0"/>
										<xs:maxInclusive value="10.0"/>
									</xs:restriction>
								</xs:simpleType>
                            </xs:element>
							<xs:element type="xs:float" name="Whisker_high" default="0.0"/>
							<xs:element type="xs:float" name="Whisker_low" default="0.0"/>
							<xs:element type="xs:float" name="Economy" default="0.0"/>
							<xs:element name="Family" default="0.0">
								<xs:simpleType>
									<xs:restriction base="xs:float">
										<xs:minInclusive value="0.0"/>
										<xs:maxInclusive value="2.0"/>
									</xs:restriction>
								</xs:simpleType>	
                            </xs:element>
							<xs:element type="xs:float" name="Life_Expectancy" default="0.0"/>
							<xs:element name="Freedom" default="0.0">
								<xs:simpleType>
									<xs:restriction base="xs:float">
										<xs:minInclusive value="0.0"/>
										<xs:maxInclusive value="1.0"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element type="xs:float" name="Generosity" default="0.0"/>
							<xs:element name="Gov_Trust" default="0.0">
								<xs:simpleType>
									<xs:restriction base="xs:float">
										<xs:minInclusive value="0.0"/>
										<xs:maxInclusive value="1.0"/>
									</xs:restriction>
								</xs:simpleType>	
							</xs:element>
							<xs:element type="xs:float" name="Dystopia_Residual" default="0.0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>