Xml/countrygdp_isvalid.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:element name="Country">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element type="xsd:string" name="Country"/>
                    <xsd:element type="xsd:string" name="Country_Code"/>
                    <xsd:element type="xsd:float" name="GDP_2000" default="0.0"/>
                    <xsd:element type="xsd:float" name="Suicide_Rate_2000" default="0.0"/>
                    <xsd:element type="xsd:float" name="GDP_2005" default="0.0"/>
                    <xsd:element type="xsd:float" name="Suicide_Rate_2005" default="0.0"/>
                    <xsd:element type="xsd:float" name="GDP_2010" default="0.0"/>
                    <xsd:element type="xsd:float" name="Suicide_Rate_2010" default="0.0"/>
                    <xsd:element type="xsd:float" name="GDP_2015" default="0.0"/>
                    <xsd:element type="xsd:float" name="Suicide_Rate_2015" default="0.0"/>
                    <xsd:element type="xsd:float" name="GDP_2016" default="0.0"/>
                    <xsd:element type="xsd:float" name="Suicide_Rate_2016" default="0.0"/>
                </xsd:sequence>
            </xsd:complexType>
    </xsd:element>
</xsd:schema>