Xml/CountryGDP.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Country">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Country" type="xs:string"/>
                <xs:element name="Country_Code" type="xs:string"/>
                <xs:element name="GDP_2000" type="xs:float"/>
                <xs:element name="Suicide_Rate_2000" type="xs:float"/>
                <xs:element name="GDP_2005" type="xs:float"/>
                <xs:element name="Suicide_Rate_2005" type="xs:float"/>
                <xs:element name="GDP_2010" type="xs:float"/>
                <xs:element name="Suicide_Rate_2010" type="xs:float"/>
                <xs:element name="GDP_2015" type="xs:float"/>
                <xs:element name="Suicide_Rate_2015" type="xs:float" />
                <xs:element name="GDP_2016" type="xs:float"/>
                <xs:element name="Suicide_Rate_2016" type="xs:float"/>
            </xs:sequence> 
        </xs:complexType>
    </xs:element>
</xs:schema>