Xml/Country_Happyness.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Country">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="Country"/>
                <xs:element type="xs:float" name="Happyness_Rank" default="0"/>
                <xs:element type="xs:float" name="Happyness_Score" default="0.0"/>
                <xs:element type="xs:float" name="Whisker_high" default="0.0"/>
                <xs:element type="xs:float" name="Whisker_low" default="0.0"/>
                <xs:element type="xs:float" name="Economy" default="0.0"/>
                <xs:element type="xs:float" name="Family" default="0.0"/>
                <xs:element type="xs:float" name="Life_Expectancy" default="0.0"/>
                <xs:element type="xs:float" name="Freedom" default="0.0"/>
                <xs:element type="xs:float" name="Generosity" default="0.0"/>
                <xs:element type="xs:float" name="Gov_Trust" default="0.0"/>
                <xs:element type="xs:float" name="Dystopia_Residual" default="0.0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>